/* ---------------------- google fonts ---------------------- */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Nunito:wght@800&display=swap');

/* ------------------------- global ------------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
  font-family: 'Noto Sans', sans-serif;
}

a {
  color: gold;
  text-decoration: none;
}

p{
  margin-bottom:1em;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 3em;
}

/* ----------------------- navigation ----------------------- */
nav {
  position: sticky;
  top: 0;
  background-color: rgb(35, 38, 39);
}

nav .container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 10px 30px 10px 30px;
}

nav .container ul li {
  display: inline-block;
  border-radius: 5px;
}

nav .container ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 10px;
  color: rgb(233, 233, 233);
  border-radius: 10px;
}

nav .container ul li:hover {
  background-color: #383838;
  border-radius: 10px;
  transition: .5s;
}

nav .container ul li.active-link {
  background-color: #e9e9e9;
  border-radius: 10px;
  transition: .5s;
}

nav .container ul li.active-link a {
  color: rgb(43, 48, 49);
}

.left {
  float: left;
}

.right {
  float: right;
}

/* ------------------------ sections ------------------------ */
section {
  max-width: 100%;
}

.section-contents {
  min-height: 100vh;
  max-width: 800px;
  margin: auto;
  padding: 140px 30px 30px 30px;
}

#home {
  background-color: rgb(35, 38, 39);
  color: rgb(202, 202, 202);
  padding-top: 100px;
}
#home h1{
  font-size: 7em;
}

#works {
  background-color: rgb(243, 243, 243);
  color: rgb(43, 48, 49);
}

#about {
  background-color: rgb(35, 38, 39);
  color: rgb(202, 202, 202);
}

#contact {
  background-color: rgb(243, 243, 243);
  color: rgb(43, 48, 49);
}

footer {
  margin: auto;
  height: 70px;
  text-align: center;
  font-size: .8em;
  background-color: rgb(243, 243, 243);
  color: rgb(43, 48, 49);
}

/* ---------------------- project cards --------------------- */
.project-card {
  background-color: white;
  min-height: 100px;
  margin: auto auto 10px auto;
  padding: 10px;
  border-radius: 20px;
  display: none; /* cards hidden on default*/
  -webkit-box-shadow: 16px 16px 45px -19px rgba(0,0,0,0.2);
  -moz-box-shadow: 16px 16px 45px -19px rgba(0,0,0,0.2);
  box-shadow: 16px 16px 45px -19px rgba(0,0,0,0.2);
}

.project-card img {
  max-width: 100%;
  margin: auto;
  border-radius: 16px;
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.project-card p {
  font-size: .75em;
}

.project-card span {
  font-weight: bold;
}

.extproj {
  float: right;
  width: 50px;
  padding: 3px;
  border-radius: 10px;
  border: 0;
  margin: 2px;
  font-size: .7em;
  margin-top: -2px;
}

.extproj a {
  color: black;
}

#github-btn {
  background-color: rgb(172, 205, 224);
}

#demo-btn {
  background-color: rgb(176, 212, 176);
}

.extproj:hover {
  opacity: .8;
  transform: translateY(1px);
}

.show {
  display: block;
}

.project-filters {
  width: 100%; 
  display: flex; 
  gap: 1%; 
  align-items: stretch;
}

.project-filter-button {
  height: 30px;
  border-radius: 40px;
  border: 0;
  background-color: rgb(43, 48, 49);
  color: rgb(231, 231, 231);
  width: 25%;
  text-transform: uppercase;
  font-size: .7em;
  cursor: pointer;
}

.project-filter-button:hover {
  background-color: rgb(85, 88, 88);
}

.project-filter-button.active {
  color: rgb(43, 48, 49);
}

.project-filter-button.active:hover {
  opacity: 0.9;
}

.project-filter-button.active#all {
  background-color: rgb(207, 181, 94);
}

.project-filter-button.active#code {
  background-color: rgb(122, 182, 169);
}

.project-filter-button.active#design {
  background-color: rgb(152, 142, 209);
}

.project-filter-button.active#art {
  background-color: rgb(180, 156, 124);
}

.fas.fa-code {
  color: rgb(122, 182, 169);
}

.fa-solid.fa-palette {
  color: rgb(180, 156, 124);
}

.fa-solid.fa-crop {
  color: rgb(152, 142, 209);
}

/* ---------------------- contact form ---------------------- */
#contact-form-top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 6px;
  margin-bottom: 6px;
}

form {
  width: 60%;
  margin: 80px auto 60px auto;
}

input {
  padding: 8px;
  border-radius: 8px;
  width: 50%;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: 'Century Gothic', sans-serif;
}

textarea {
  padding: 8px;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
  resize: none;
  margin-bottom: 3px;
  font-family: 'Century Gothic', sans-serif;
}

#subject {
  padding: 8px 5px 8px 5px;
  border-radius: 8px;
  width: 100%;
  border: none;
  outline: none;
  margin-bottom: 6px;
  font-family: 'Century Gothic', sans-serif;
}

input:hover, textarea:hover, #subject:hover {
  background-color: rgb(255, 255, 255);
}

#submit {
  width: 100%;
  background-color: rgb(43, 48, 49);
  color: white;
  cursor: pointer;
}

#submit:hover {
  background-color: rgb(66, 69, 70);
  color: white;
}

.reveal {
  opacity: 0;
}

.reveal.reveal-active {
  opacity: 1;
}

.reveal-active.fade-bottom {
  animation: fade-bottom .5s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


/* -------------------- responsive sizing ------------
------- */
@media only screen and (max-width: 600px) {
  form {
    width:100%;
  }
  #contact-form-top {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 6px;
    margin-bottom: 6px;
  }
  input {
    width:100%;
  }
}
